@font-face {
    font-family: 'Lexend';
    src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Gloock';
    src: url('/fonts/Gloock-Regular.otf') format('opentype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KS Bistra';
    src: url('/fonts/KS Bistra.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Arial, serif;
    font-weight: normal;
    overscroll-behavior: none;
}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior: none;
}

#details {
    position: sticky;
    bottom: 0;
    left: 10px;
    font-size: 14px;
    color: gray;
    transition: bottom 0.3s ease-out;
    view-transition-name: details;
    z-index: 10;
}

#name-title {
    font-family: Courier, monospace;
    font-size: 60px;
    transition: opacity 0.3s ease-out, scale 0.3s ease-out;
    transform-origin: 50% 50%;
    view-transition-name: name-out;
    padding-left: 8px;
}

#menu > a {
    font-family: Lexend, monospace;
    font-weight: 300;
    text-decoration: underline;
    color: black;
}

#menu {
    cursor: pointer;
    background: white;
    padding-bottom: 15px;
    padding-left: 10px;
}

.info-text {
    font-family: Lexend, monospace;
    font-size: 4.7vw;
    text-align: center;
    width: 95vw;
    pointer-events: none;
    opacity: 0.3;
    transition: opacity 0.35s ease-out, scale 0.35s ease-out;
}

#photography-info {
    view-transition-name: photography-title;
}

/* View Transitions */
@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 0.2s;
}

@keyframes scale-out {
    from {
        position: initial;
    }
    to {
        scale: 0.99;
        opacity: 0;
        position: initial;
    }
}

@keyframes scale-in {
    from {
        scale: 0.99;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes slide-down {
    to {
        bottom: 10px;
    }
}

@keyframes slide-up {
    to {
        bottom: 20px;
    }
}

@keyframes move-to-title {
    from {
        font-size: 12vw;
        opacity: 0.05;
    }
    to {
        font-size: 4vw;
        opacity: 0.3;
    }
}

::view-transition-old(name-out) {
    animation: scale-out 0.2s ease-out forwards;
}

::view-transition-new(name-out) {
    animation: scale-in 0.2s ease-out forwards;
}

::view-transition-new(details) {
    animation: slide-down 0.2s ease forwards;
}

::view-transition-old(details) {
    animation: slide-up 0.2s ease forwards;
}

::view-transition-old(photography-title) {
    animation: move-to-title 0.3s ease-in-out forwards;
}

::view-transition-new(photography-title) {
    animation: scale-out 0.3s ease-in-out;
}

::view-transition-group(.info-text) {
    animation: scale-in 0.3s ease-out forwards;
}

/* Container for home page */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    margin-left: 25vw;
}

