@font-face {
    font-family: 'KS Bistra';
    src: url('/fonts/KS\ Bistra.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}
