.container {
    display: block;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    text-align: center;
    border: 3px solid black;
    padding-top: 30px;
    padding-left: 10px;
}

.containerTopBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: black;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.controls {
    height: 100%;
    aspect-ratio: 1.1/1;
    background-color: #eeeeee;
    border-right: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.controls:hover {
    background-color: #dddddd;
}

.controlsClose:hover {
    background-color: #ff5c5c;
    color: white;
}

.socialsContainer {
    position: absolute;
    top: 50px;
    right: 20px;
    display: flex;
    gap: 15px;
    z-index: 100;
}

.socialIcon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.socialIcon:hover {
    opacity: 0.7;
}

.contentWrapper {
    margin-top: 40px;
    padding: 20px 40px;
    text-align: left;
    max-width: 100%;
}

.contentWrapper h1,
.contentWrapper p {
    text-align: left;
}

.contentWrapper h1 {
    font-family: 'Geist Mono', Times, serif;
    font-size: 32px;
    margin-bottom: 20px;
}

.contentWrapper h2 {
    font-family: 'Geist Mono', Times, serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.aboutText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.projectsContainer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 10%;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.projectButton {
    flex: 1;
    height: 100%;
    background-color: #eeeeee;
    border: 3px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: all 0.2s;
    text-align: center;
}

.projectButton:hover {
    background-color: black;
    color: white;
}

.projectButton p {
    font-family: 'Geist Mono', Times, serif;
    font-size: 13px;
    line-height: 1.3;
    margin: 0;
    text-align: center;
}

.githubButton {
    flex: 0 0 10%;
    height: 100%;
    background-color: #eeeeee;
    border: 3px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.githubButton:hover {
    background-color: black;
}

.githubButton:hover svg {
    stroke: white;
}

.externalLinkIcon {
    width: 32px;
    height: 32px;
    stroke: black;
    fill: none;
    stroke-width: 2;
}
