@import "tailwindcss";

:root {
    --background: #F0F0F0;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-family-hanken: var(--font-hanken-grotesk);
    --font-family-libre-barcode: var(--font-libre-barcode);
    --font-family-roboto-mono: var(--font-roboto-mono);
}



body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    text-decoration: underline;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: 1.3vw;

    /*letter-spacing: 0.2px;*/
}


